    @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
    @import url('https://db.onlinewebfonts.com/c/25cf64dd488fdff7d43d30b499ba1ec4?family=Alien+Encounters+Solid');
    body {
        margin: 0;
        padding: 0;
        background: #1a1b1c;
    }
    
    .landing-container .btn {
        font-family: "Allerta Stencil";
    }
    
    html {
        box-sizing: border-box;
    }
    /* Primary Button Color Change *TODO CHANGE TO SASS*  */
    
    .btn-primary {
        color: #fff;
        background-color: #ff0098;
        border-color: #ff0098
    }
    
    .btn-primary:hover {
        color: #fff;
        background-color: #ff0098;
        border-color: #ff0098
    }
    
    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #fff;
        background-color: #ff0098;
        border-color: #ff0098
    }
    
    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #ff0098;
        border-color: #000
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
    }
    
    .btn-outline-primary {
        color: #ff0098;
        background-color: transparent;
        background-image: none;
        border-color: #ff0098
    }
    
    .btn-outline-primary:hover {
        color: #222;
        background-color: #ff0098;
        border-color: #ff0098
    }
    
    ;
    .btn-outline-primary:focus,
    .btn-outline-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
    }
    
    .btn-outline-primary.disabled,
    .btn-outline-primary:disabled {
        color: #ff0098;
        background-color: transparent
    }
    
    .btn-outline-primary:not(:disabled):not(.disabled):active,
    .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show>.btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #ff0098;
        border-color: rgba(255, 0, 152, 0.5)
    }
    
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
    .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show>.btn-outline-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
    }
    
    .btn {
        font-family: "Allerta Stencil";
    }
    
    #resources-container .btn-link {
        color: #ff0098;
    }
    /* End of Button Change */
    
    .navbar {
        position: relative;
    }
    
    a {
        font-family: "Allerta Stencil";
    }
    
    @media (min-width: 992px) {
        .navbar li {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
        .landing-title {
            margin-top: -0.3em;
        }
    }
    
    hr {
        background-color: #ff0098;
        height: 1px;
        border: 0;
        width: 25rem;
        margin-top: 2.5em;
        margin-bottom: 2em;
    }
    
    h1 {
        color: #EEE;
        text-align: center;
        font-size: 5rem;
        font-family: 'Alien Encounters Solid';
        /* font-weight: bold; */
    }
    
    h2 {
        color: #EEE;
        margin-left: 10%;
        font-size: 4rem;
        margin-top: 1.75em;
        font-family: 'Allerta Stencil';
        /* font-weight: bold; */
    }
    
    #intro-section h3 {
        margin-left: 10%;
        margin-top: 1.75em;
    }
    
    h3 {
        color: #EEE;
        font-size: 3rem;
        font-family: 'Allerta Stencil';
        /* font-weight: bold; */
    }
    
    #footer-container {
        margin-top: 4em;
    }
    
    #footer-container h3 {
        color: #eee;
        font-size: 2em;
        text-align: start;
    }
    
    #footer-container p {
        font-size: 1em;
        color: #eee;
        margin: 0;
        padding: 0;
    }
    
    h4 {
        color: #EEE;
        font-size: 2.5rem;
        font-family: 'Allerta Stencil';
    }
    
    p {
        text-align: left;
        margin-top: 1.5rem;
        font-size: 1.25rem;
        line-height: 200%;
        color: #EEE;
        font-family: "Roboto";
        font-weight: 300;
        margin-left: 10%;
    }
    
    #intro-section {
        overflow-x: hidden;
    }
    
    #outreach-teampic {
        width: 90%;
        height: auto;
        margin-top: 7.5em;
    }
    
    #manual-section {
        justify-content: center;
        margin-top: 3em;
    }
    
    #event-section {
        text-align: center;
        margin-top: 6em;
        margin-left: 2em;
        margin-right: 2em;
    }
    
    #programs-section {
        margin-top: 7em;
        text-align: left;
        color: #EEE;
    }
    
    #programs-section h3 {
        text-align: center;
        color: #EEE;
    }
    
    #programs-section li {
        margin: 2em;
        font-size: 1.25rem;
        font-family: 'Roboto';
        font-weight: lighter;
    }
    
    #programs-section ul {
        margin-left: 10%;
        margin-right: 10%;
    }