<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/outreach.css">
</head>


<body>
        <!-- Navbar -->
    <div id="landing-container" class="wave-container">
        <!-- Navbar Branding -->
        <nav id="navbar-container" class="navbar navbar-expand-lg navbar-dark sticky-top mr-auto" style="background-color: transparent">
      
            <div id="nav-logo">
                <a class="navbar-brand" href="/" >
                    <img src="images/blacklogo.png" width="50" height="50" class="d-inline-block align-top" alt="">
                   
                  </a>
            </div>
        
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <!-- Navbar Items-->
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav">
        
                <li class="nav-item">
                  <a class="nav-link" href="/outreach">Outreach</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/media">Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sponsors">Sponsors</a>
                  </li>
              </ul>
        
            
        
            <!-- Navbar Button-->
          </ul>
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="/archive">Team Archive</a>
              </li>
            <li class="nav-item">
              <button class="btn btn-outline-primary shadow-sm">Resources</button>
            </li>
        
          </ul>
          </div>
        </nav>

        <!-- Content -->

       
        <div class="outreach-class" id="intro-section">
        <div class="row">
          <div class="col">
            <h2>Our Outreach</h2>
            <p> A big component of FIRST is outreach – promoting science and technology in our communities. Team 1923 promotes STEM & FIRST within the school district, local community, and even globally! Some of our duties include: presenting and explaining the FIRST program and values at community events, preparing for awards, writing awards submissions and creating graphics and videos for the team presentations. 
 
              </p>
          </div>
          <div class="col">
              <img id="outreach-teampic" class="rounded"src="images/outreach-landing.jpg" alt="Outreach">
            </div>
        </div>
      </div>  

      <div class="outreach-class  d-flex justify-content-center" id="manual-section">
          <button class="btn btn-outline-primary">Outreach Manual</button>
        </div>

      <div class="outreach-class" id="programs-section">
        <h3>Recent Programs</h3>
        <hr>
        <br>
        <div class="row">
          <div class="col">
              <ul>
                  <h4>2019</h4>
                  <li>Robo Expo: An exposition to prospective team members</li>
                  <li>Embrace Kids</li>
                  <li>Compass Alliance Workshop</li>
                  <h4>2018</h4>
                  <li>Robo Expo: An exposition to prospective team members</li>
                  <li>Embrace Kids</li>
                  <li>Compass Alliance Workshop</li>
                </ul>
          </div>
          <div class="col">
              <ul>
                  <h4>2017</h4>
                  <li>Robo Expo: An exposition to prospective team members</li>
                  <li>Embrace Kids</li>
                  <li>Compass Alliance Workshop</li>
                  <li>Robo Expo: An exposition to prospective team members</li>
                  <h4>2016</h4>
                  <li>Embrace Kids</li>
                  <li>Compass Alliance Workshop</li>
                </ul>
          </div>
        </div>
      </div>

      <div class="outreach-class" id="event-section">
          <h3>Events</h3>
          
          <hr>
          <div class="row">
              <div class="col">
                  <div class="card text-white bg-dark">
                      <h4 class="card-title">FLL Qualifier</h4>
                      <img class="card-img-top" alt="FLL Qualifier Image" height="401">
                      <div class="card-footer">
                        <small class="text-muted">Image from</small>
                      </div>
                    </div> 
               </div>
              <div class="col">
                  <div class="card text-white bg-dark">
                      <h4 class="card-title">MidKnight Mayhem</h4>
                      <img class="card-img-top" src="images/mkm-event.jpg" alt="Midknight Mayhem Image" >
                      <div class="card-footer">
                        <small class="text-muted">Image from 2019</small>
                      </div>
                    </div> 
               </div>
            </div>
        </div>
</body>
</html>