@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'alien_encounters_solidregular';
    src: url('fonts/alien_encounters_solid_v1-webfont.woff2') format('woff2'), url('fonts/alien_encounters_solid_v1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(https://fonts.gstatic.com/s/allertastencil/v10/HTx0L209KT-LmIE9N7OR6eiycOe1_Db29XP-vA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media (min-width: 992px) {
    .navbar li {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .landing-title {
        margin-top: -4em;
    }
}

@media (max-width: 991px) {
    #home-nav {
        display: none;
    }
}

@media (max-width: 480px) {
    #about-first-text {
        margin-left: 10%;
        margin-right: 10%;
    }
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #1a1b1c;
    position: relative;
    width: 100%;
}

a {
    font-family: "Allerta Stencil";
}

hr {
    background-color: #ff0098;
    height: 1px;
    border: 0;
    width: 25rem;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.navbar {
    position: relative;
}

.navbar-nav {
    animation: nav-bar-animation 1s;
    animation-timing-function: ease;
}

#nav-logo {
    animation: nav-bar-animation 1s;
    animation-timing-function: ease;
    margin-left: 1em;
}

@keyframes nav-bar-animation {
    from {
        opacity: 0;
        margin-top: -6rem;
    }
    to {
        opacity: 1;
        margin-top: 0rem;
    }
}


/* Landing Screen */

.landing-container {
    position: relative;
    background-color: rgba(52, 58, 64, 0.8);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 107vh;
}

.landing-container .btn {
    font-family: "Allerta Stencil";
}

#action-btn {
    margin-top: 2em;
    animation: landing-title-animation 0.8s;
}

.landing-container>svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 850ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.landing-container h1 {
    color: #EEE;
    text-align: center;
    font-size: 5rem;
    margin-top: 1.75em;
    font-family: 'alien_encounters_solidregular';
}

.landing-container h3 {
    color: #97999c;
    text-align: center;
    font-size: 2rem;
    margin-top: 0.3em;
    font-family: 'Allerta Stencil';
    animation: landing-title-animation 0.8s;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    filter: grayscale(95%);
}

#border {
    position: absolute;
    bottom: 0;
}

#border path {
    fill: #1a1b1c;
    color: #1a1b1c;
    ;
}

#landing-title {
    animation: landing-title-animation 0.8s;
}


/* Our Robots */

#our-robots {
    color: #EEE;
    text-align: center;
}

#robot-scroll-container {
    overflow-x: auto !important;
}

#our-robots .card {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

#our-robots-title {
    color: #EEE;
    padding-top: 1em;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Allerta Stencil';
}

.our-robot-names {
    font-family: "alien_encounters_solidregular";
}

#our-robots-caption {
    color: #EEE;
    text-align: center;
    padding-bottom: 1.1em;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* About FIRST */

#about-first {
    margin-top: 4em;
    background-color: rgba(52, 58, 64);
    padding-top: 4em;
    padding-bottom: 4em;
}

.about-first-class {
    color: #EEE;
    text-align: center;
}

#about-first-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Allerta Stencil';
    font-weight: bolder;
    color: #EEE;
    margin-left: 33%;
    margin-right: 33%;
}

#about-first-text {
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.25rem;
    line-height: 250%;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/* About Us */

#about-us {
    overflow: hidden;
    margin-top: 4em;
    margin-bottom: 4em;
}

#about-us-teampic {
    width: 80%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5em;
}

#about-us h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Allerta Stencil';
    font-weight: bolder;
    color: #EEE;
}

#about-us p {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 200%;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 10%;
    margin-right: 10%;
}


/* Our Mentors */

.mentor-cards {
    margin-left: 5%;
    margin-right: 5%;
}

#our-mentors .card {
    max-width: 300px;
    min-height: 0px;
}

#our-mentors a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#our-mentors {
    margin-left: 2em;
    margin-right: 2em;
    overflow: hidden;
}

#our-mentors-title {
    font-family: "Allerta Stencil";
    font-size: 2.5rem;
}


/* Awards */

#our-awards {
    margin-top: 7em;
    text-align: left;
    color: #EEE;
    overflow: hidden;
    margin-bottom: 4em;
}

#our-awards h3 {
    text-align: center;
    color: #EEE;
}

#our-awards li {
    margin: 1em;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

#our-awards ul {
    margin-left: 10%;
    margin-right: 10%;
}

#awards-title {
    font-family: "Allerta Stencil";
    font-size: 2.5rem;
}

@keyframes landing-title-animation {
    from {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.btn-primary {
    color: #fff;
    background-color: #ff0098;
    border-color: #ff0098
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff0098;
    border-color: #ff0098
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #ff0098;
    border-color: #ff0098
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff0098;
    border-color: #000
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
}

.btn-outline-primary {
    color: #ff0098;
    background-color: transparent;
    background-image: none;
    border-color: #ff0098
}

.btn-outline-primary:hover {
    color: #222;
    background-color: #ff0098;
    border-color: #ff0098;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #ff0098;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff0098;
    border-color: rgba(255, 0, 152, 0.5)
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 0, 152, 0.5)
}