*{
    margin: 0;
    padding: 0;
  }

html {
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
  }

navbar a{
    color: #EEE;
}
  
.wave-container {
        position: relative;
        background: #3d4447;
        overflow: hidden;
        width: 100%;
}
.wave-container > svg {
    display: block;
  }
.wave-container h1{
    color: #EEE;
    text-align: center;
}
