@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://db.onlinewebfonts.com/c/25cf64dd488fdff7d43d30b499ba1ec4?family=Alien+Encounters+Solid');


body {
    margin: 0;
    padding: 0;
    background: #1a1b1c; 
    
    
  }
 .landing-container .btn {
    font-family: "Allerta Stencil";
}
html {
    box-sizing: border-box;
}

/* Primary Button Color Change *TODO CHANGE TO SASS*  */
.btn-primary{color:#fff;background-color: #ff0098
  ;border-color:#ff0098}

.btn-primary:hover{color:#fff;background-color:#ff0098;border-color:#ff0098}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(255, 0, 152,0.5)}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#ff0098;border-color:#ff0098}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#ff0098;border-color:#000}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(255, 0, 152,0.5)}

.btn-outline-primary{color:#ff0098;background-color:transparent;background-image:none;border-color:#ff0098}.btn-outline-primary:hover{color:#222;background-color:#ff0098;border-color:#ff0098};
.btn-outline-primary:focus,.btn-outline-primary.focus{box-shadow:0 0 0 .2rem rgba(255, 0, 152,0.5)}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{color:#ff0098;background-color:transparent}
.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled).active,.show>.btn-outline-primary.dropdown-toggle{color:#fff;background-color:#ff0098;border-color: rgba(255, 0, 152,0.5)}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(255, 0, 152,0.5)}
/* End of Button Change */
.navbar{
    position:relative;
   }
   
a {
  font-family: "Allerta Stencil";
}

@media (min-width: 992px){
  .navbar li {
      margin-left : 0.5em;
      margin-right : 0.5em;
  }
  .landing-title {
      margin-top : -0.3em;
  }
  

}

#our-robots-title {
    color: #EEE;
    padding-top: 1em;

    text-align: center;
    font-family: 'Allerta Stencil';
}
#our-robots-caption{
  color: #EEE;
  text-align: center;
  padding-bottom: 1.1em;
}

#our-robots{
  color: #EEE;
  text-align: center;
}
#robot-scroll-container{
overflow-x: auto;
}

*,*::before,*::after {
    box-sizing: inherit;
  }


  
.landing-container {
        position: relative;
        background-color: rgba(26, 26, 26, 0.8);
        background-size: cover;
        overflow: hidden;
        width: 100%;
        height: 107vh;
        
        
      
}
.landing-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 850ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  
  }
.landing-container h1{
    color: #EEE;
    text-align: center;
    font-size: 5rem;
    margin-top: 1.75em;
    font-family: 'Alien Encounters Solid';
    /* font-weight: bold; */
}
.landing-container h3{
  color: #97999c;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.3em;
  font-family: 'Allerta Stencil' ;
  animation: landing-title-animation 0.8s;
  
}

@keyframes nav-bar-animation {
  from {
    opacity: 0;
    margin-top: -6rem;
  }

  to {
    opacity: 1;
    margin-top:0rem;
  }
}

.navbar-nav {
  animation: nav-bar-animation 1s;
  animation-timing-function: ease;

}

#nav-logo {
  animation: nav-bar-animation 1s;
  animation-timing-function: ease;
}



video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  filter:grayscale(90%);
}



#border {
  position: absolute;
  bottom: 0;
}
#border path {
  fill: #1a1b1c;
  color: black;
}

hr { 
  background-color: #ff0098;
  height: 1px;
  border: 0; 
  width: 25rem;
  margin-top: 1.5em;
  margin-bottom: 2em;
}



#nav-logo{
  margin-left: 1em;
}
#action-btn{
  margin-top: 2em;
  animation: landing-title-animation 0.8s;

}

#landing-title {
  animation: landing-title-animation 0.8s;
 
}

#about-first {
margin-top: 4em;
background-color: rgba(54, 57, 59, 0.8);
padding-top: 4em;
padding-bottom: 4em;
}

.about-first-class {
  color: #EEE;
  text-align: center;
}

#about-first-title {
  
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Allerta Stencil' ;
  font-weight: bolder;
  color:#EEE;
  margin-left:33%;
  margin-right: 33%;
}

#about-first-text {
  margin-left: 20%;
  margin-right:20%;
  font-size: 1.25rem;
  line-height: 250%;
  color:#EEE;
  font-family: "Roboto" ;
  font-weight: 300;
}

#about-us{
  overflow: hidden;
  margin-top: 4em;
  margin-bottom: 4em;
 
}

#about-us-teampic{
  width: 80%;
  height: auto;
  margin-left: 5%;
  margin-top: 2.5em;
}
#about-us h1{
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Allerta Stencil' ;
  font-weight: bolder;
  color:#EEE;
}


#fun-facts{
  margin-top: 4em;
  background-color: rgba(54, 57, 59, 0.8);
  overflow: hidden;
  
}

#fun-facts h1{
  text-align: center;
  font-size: 2rem;
  font-family: 'Allerta Stencil' ;
  font-weight: bolder;
  color: #EEE;
  padding-top: 1em;
}

#fun-facts ul{
  text-align: center;
  font-size: 1.5rem;
  line-height: 200% ;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1em;
  color: #EEE;
}
#about-us p{
  text-align: left;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  line-height: 200%;
  color:#EEE;
  font-family: "Roboto" ;
  font-weight: 300;
  margin-left: 15%;
  margin-right: 5%

}

@keyframes landing-title-animation {
  from {
    transform: translateY(-30px);
      
  }

  to {
    transform: translateY(0);
      
  }

}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

