@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');
@import url('https://db.onlinewebfonts.com/c/25cf64dd488fdff7d43d30b499ba1ec4?family=Alien+Encounters+Solid');
body {
    margin: 0;
    padding: 0;
    background-color: rgba(54, 57, 59, 0.8);
}

.wave-container .btn {
    font-family: "Allerta Stencil";
}

html {
    box-sizing: border-box;
}

a {
    font-family: "Allerta Stencil";
}

@media (min-width: 992px) {
    .navbar li {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .wave-container h1 {
        margin-top: 0.3em;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wave-container {
    position: relative;
    background: #1a1b1c;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 107vh;
}

.wave-container>svg {
    display: block;
}

.wave-container h1 {
    color: #EEE;
    text-align: center;
    font-size: 5rem;
    margin-top: 1.75em;
    font-family: 'Alien Encounters Solid';
    /* font-weight: bold; */
}

.wave-container h3 {
    color: #97999c;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0.3em;
    font-family: 'Allerta Stencil';
}

#our-robots {
    overflow: hidden;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    filter: grayscale(100%);
}

#border {
    position: absolute;
    bottom: 0;
}

#border path {
    fill: #1a1b1c;
    color: black;
}

hr {
    background-color: #ff0098;
    height: 1px;
    border: 0;
    width: 25rem;
    margin-top: 2.5em;
    margin-bottom: 2em;
}

#nav-logo {
    margin-left: 1em;
}

#action-btn {
    margin-top: 2em;
}

#about-us {
    margin-top: 3em;
    overflow: hidden;
}

#about-us-teampic {
    width: 80%;
    height: auto;
    margin-left: 5%;
    margin-top: 2.5em;
}

#about-us h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Allerta Stencil';
    font-weight: bolder;
    color: #EEE;
}

#fun-facts {
    margin-top: 8em;
    background-color: #84919c;
    overflow: hidden;
}

#fun-facts h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Allerta Stencil';
    font-weight: bolder;
    color: black;
    padding-top: 1em;
}

#fun-facts ul {
    text-align: center;
    font-size: 1.5rem;
    line-height: 200%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
}

#about-us p {
    text-align: left;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 200%;
    color: #EEE;
    font-family: "Roboto";
    font-weight: 300;
    margin-left: 15%;
    margin-right: 5%
}

@keyframes landing-title-animation {
    from {
        margin-left: 0rem;
        opacity: 0.5;
    }
    to {
        margin-left: 5.25rem;
        opacity: 1;
    }
}